/* COLORS (mainly created by diff'ing official red and green templates, and replacing colors */
.banner {
  background-color: #0F5656;
}

.media-view:hover,
.media-view.hovered {
  border-color: #0F5656;
}

.media-view:hover .banner,
.media-view.hovered .banner {
  background-color: #0F5656;
}

.editor .editor-info-block a {
  color: #0F5656;
}

.resource-list.reordering .resource-item.ui-sortable-helper {
  border: 1px solid #0F5656;
}

.resource-list.reordering .resource-item.ui-sortable-helper .handle {
  border-color: #0F5656;
}

.view-list li a.active,
.view-list li a:hover {
  border-color: #0F5656;
}

.view-list li a.active .icon,
.view-list li a:hover .icon {
  background-color: #0F5656;
  color: #f6f6f6;
}

.view-list li .arrow {
  border-top-color: #0F5656;
}

.view-list li.active a {
  border-color: #0F5656;
}

.view-list li.active a .icon {
  background-color: #0F5656;
}

.view-list.stacked::-webkit-scrollbar-thumb:hover {
  background-color: #0F5656;
}

.homepage .module-search .module-content {
  background-color: #0f5656;
}

.homepage .module-search .tags {
  background-color: #0E6A7F;
}

.account-masthead {
  background: #0e6a7f url("../../../base/images/bg.png");
}

.account-masthead .account ul li {
  border-left: 1px solid #0F5656;
}

.account-masthead .account ul li a {
  color: #FFF14B;
  font-weight: bold;
  text-transform: uppercase;
}

.account-masthead .account ul li a:hover {
  color: #0F5656;
  background-color: #FFF14B;
}

.account-masthead .account .notifications a span.badge {
  background-color: #0F5656;
  color: #f0d1cc;
}

.account-masthead .account .notifications a:hover span {
  background-color: #0e6a7f;
}

.masthead {
  background: #0F5656;
}

.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:focus,
.masthead .navigation .nav-pills li.active a {
  background-color: #FFF14B;
  color: #0f5656;
}


.masthead .btn-navbar-btn,
.masthead .btn-navbar-btn:hover,
.masthead .btn-navbar-btn:focus,
.masthead .btn-navbar-btn:active,
.masthead .btn-navbar-btn.active,
.masthead .btn-navbar-btn.disabled,
.masthead .btn-navbar-btn[disabled] {
  background-color: #0E6A7F;
}

.site-footer {
  border-top: 1px solid #0E6A7F;
  background: #0f5656 url("../../../base/images/bg.png");
}

.site-footer .navigation .nav-pills li a:hover,
.site-footer .navigation .nav-pills li a:focus,
.site-footer .navigation .nav-pills li.active a {
  background-color: #0f5656;
}

.site-footer .btn-navbar-btn,
.site-footer .btn-navbar-btn:hover,
.site-footer .btn-navbar-btn:focus,
.site-footer .btn-navbar-btn:active,
.site-footer .btn-navbar-btn.active,
.site-footer .btn-navbar-btn.disabled,
.site-footer .btn-navbar-btn[disabled] {
  background-color: #0f5656;
}

.site-footer,
.site-footer label,
.site-footer small {
  color: #ffffff;
}

.site-footer a {
  color: #ffffff;
}

/* fix responsiveness of language selector in footer */
.site-footer .select2-container.lang-container {
  max-width: 100%;
}

.attribution small {
  color: #ffffff;
}

.popover-followee .nav li a i {
  background-color: #0F5656;
}

.popover-followee .nav li a:hover i {
  background-color: #000;
}

.popover-followee .nav li.active a i {
  color: #0F5656;
}

.resource-view-list.reordering li.ui-sortable-helper {
  border: 1px solid #0F5656;
}

.resource-view-list.reordering li.ui-sortable-helper .handle {
  border-color: #0F5656;
}

body {
  background: #0F5656 url("../../../base/images/bg.png");
  font-family: 'Montserrat';
  font-weight: 500;
}

/** MORE COLORS - away from original schema **/

.homepage .module-search .tags .tag {
  background-color: #FFF14B;
  color: #0F5656;
  border-radius: 2px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: none;
  border: none;
}

.homepage .module-search .module-content .heading {
  text-transform: uppercase;
  font-size: 18px;
}

.masthead .nav>li>a {
  font-weight: bold;
}

/** LAYOUT **/

.hero {
  background-color: transparent;
  background-image: url('/liguria/img/home_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.homepage .module-search {
  padding: 0;
  border: 0;
  box-shadow: none;
}

@media only screen and (min-width: 1200px) {
  .masthead .logo img {
    max-height: 90px;
  }
}

/* ld group index */

.ld-index-group-container {
  padding: 32px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ld-index-group {
  width: 142px;
  margin: 8px;
}
.ld-index-group a {
  color: #FFF14B;
  text-align: center;
}
.ld-index-group img {
  width: 142px;
  height: 142px;
  object-fit: contain;
}
.ld-index-group-title {
  margin-top: 15px;
}

/* facet */

.badge {
  background-color: #0F5656;
}
.dataset-resources li a {
  background-color: #0F5656;
}
.pill {
  background-color: #FFF14B;
  color: #0F5656;
  border-radius: 2px;
}
.pill a {
  color: #0F5656;
}

.nav-item.active > a:hover, .nav-aside li.active a:hover,
.nav-item.active > a, .nav-aside li.active a {
  background-color: #FFF14B;
  color: #0F5656;
}

.nav-item.active > a:before, .nav-aside li.active a:before {
  border-left-color: #FFF14B;
}

.nav-item.active {
  border-bottom-color: #0F5656;
}

.module-heading {
  background-color: #0F5656;
  color: #ffffff;
  border-left-color: #0F5656;
}

.module-tabs li.ui-state-active a:before {
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 7px;
  right: auto;
  left: 100%;
}
